[submodule "pack/plugins/start/tabgar"]
	path = pack/plugins/start/tabgar
	url = git@github.com:/majutsushi/tagbar.git
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = git@github.com:/neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = git@github.com:/nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/gitsigns.nvim"]
	path = pack/plugins/start/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule "pack/plugins/opt/phpactor"]
	path = pack/plugins/opt/phpactor
	url = git@github.com:/phpactor/phpactor.git
[submodule "pack/plugins/start/null-ls.nvim"]
	path = pack/plugins/start/null-ls.nvim
	url = git@github.com:jose-elias-alvarez/null-ls.nvim.git
[submodule "pack/plugins/start/nvim-notify"]
	path = pack/plugins/start/nvim-notify
	url = git@github.com:rcarriga/nvim-notify
[submodule "pack/plugins/start/omni.vim"]
	path = pack/plugins/start/omni.vim
	url = git@github.com:yonlu/omni.vim.git
[submodule "pack/plugins/start/yowish.vim"]
	path = pack/plugins/start/yowish.vim
	url = git@github.com:KabbAmine/yowish.vim.git
[submodule "pack/plugins/opt/vim-dadbod.git"]
	path = pack/plugins/opt/vim-dadbod.git
	url = git@github.com:tpope/vim-dadbod.git
[submodule "pack/plugins/opt/vim-dadbod-ui"]
	path = pack/plugins/opt/vim-dadbod-ui
	url = git@github.com:kristijanhusak/vim-dadbod-ui.git
[submodule "pack/plugins/start/nvim-tree"]
	path = pack/plugins/start/nvim-tree
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "pack/plugins/start/vim-coloresque"]
	path = pack/plugins/start/vim-coloresque
	url = git@github.com:gko/vim-coloresque.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "pack/plugins/start/vim-polyglot.git"]
	path = pack/plugins/start/vim-polyglot.git
	url = git@github.com:sheerun/vim-polyglot.git
