[submodule "pack/colorschemes/start/gruvbox"]
	path = pack/colorschemes/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "pack/plugins/start/nvim-tree"]
	path = pack/plugins/start/nvim-tree
	url = git@github.com:/kyazdani42/nvim-tree.lua.git
[submodule "pack/plugins/start/tabgar"]
	path = pack/plugins/start/tabgar
	url = git@github.com:/majutsushi/tagbar.git
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = git@github.com:/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = git@github.com:/neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = git@github.com:/nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
